/* Contenedor principal */
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-auto-rows: 300px;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Layout global */
.container-global{
  display:flex;
  justify-content:center;
  gap:40px;
}

/* Card estilo naipe */
.card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background: transparent;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

/* Hover */
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.35);
}

/* Parte superior - Andén */
.divAnden{
  height:100px;
  background:#2d3748;
  color:white;

  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  gap:10px;             /* espacio entre texto y número */
  font-size: 20px;
}

.divAnden h2{
  margin:0;
  font-size:2rem;
}

/* Parte central - Destino */
.divDestino{
  height:60px;
  background:white;
  color:#2d3748;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:10px;
  font-weight:bold;
  font-size: 30px;
}

/* Parte inferior - Tiempo */
.divTime{
  height:200px;
  background:#2d3748;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  font-size:1.1rem;
}

/* Variante cuando hay 4 columnas */
.card-container.consti{
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  margin: 0 auto;
}

.container-global:has(.card-container.consti){
  display:block;
  text-align:center;
}