/* ===== RESPONSIVE PARA CELULAR ===== */
@media (max-width: 768px) {

  .container-global{
    flex-direction:row;
    gap:10px;
  }
  
  .card-container{
    grid-template-columns: 1fr;
  }

  .card{
    width:140px;
    height:220px;
  }

  .card h2 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.9rem;
  }

}

/* ===== CELULARES MUY CHICOS ===== */
@media (max-width: 480px) {

  .card-container {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 480px) {

  select {
    width: 160px;
  }

}

